html {
	height: 100%
}

body {
	background-color: black;
	height:100%;	
	width:100%;	
	margin: 0;
}

#app {
	background-color: black;
	height:100%;	
	width:100%;	
}

#viewContainer {
	padding: 3%;
	margin: 7%;
	background-image: url('./images/parchment.jpg');	
	background-color: white;
}
